/* My Code Starts Here *//
.mybutton{
    color: red;!important
    background-color: greenyellow;!important
    background-blend-mode: darken;!important
    font-size: xxx-large;!important
    
}

.sk-tiny{font-size:10px!important}
.sk-xlarge{font-size:24px!important}
